<!DOCTYPE html>
<html lang="de" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Info fragments</title>
</head>
<body>
  <div th:fragment="infoDomainTable (domain)">
    <table class="table table-sm mt-3" aria-label="Domain information">
      <colgroup>
        <col style="width: 12em" />
      </colgroup>
      <tr>
        <th th:text="#{purl_server.info.domain.name}"></th>
        <td th:text="${domain.name}"></td>
      </tr>
      <tr>
        <th th:text="#{purl_server.info.domain.domainuserlist}"></th>
        <td class="pr-0">
          <table class="table table-sm" aria-label="Domain user information">
            <colgroup>
              <col style="min-width: 12em; width: 12em" />
            </colgroup>
            <tr>
              <th class="border-top-0" th:text="#{purl_server.info.domain.domainuserlist.user}"></th>
              <th class="border-top-0" th:text="#{purl_server.info.domain.domainuserlist.cancreate}"></th>
              <th class="border-top-0" th:text="#{purl_server.info.domain.domainuserlist.canmodify}"></th>
            </tr>
            <tr th:each="user : ${domain.domainUserList}">
              <td th:text="${user.user.login}"></td>
              <td><input type="checkbox" th:checked="${user.canCreate}" disabled="disabled" /></td>
              <td><input type="checkbox" th:checked="${user.canModify}" disabled="disabled" /></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr th:if="${!#strings.isEmpty(domain.comment)}">
        <th th:text="#{purl_server.info.domain.comment}"></th>
        <td th:text="${domain.comment}"></td>
      </tr>
      <tr>
        <th th:text="#{purl_server.info.common.created}"></th>
        <td>
          <label th:text="#{purl_server.info.common.at}"></label>
          <span th:text="${#temporals.format(domain.created, 'yyyy-MM-dd HH:mm')}"></span>
      </td>
      </tr>
      <tr>
        <th th:text="#{purl_server.info.common.modified}"></th>
        <td>
          <label th:text="#{purl_server.info.common.at}"></label>
          <span th:text="${#temporals.format(domain.lastmodified, 'yyyy-MM-dd HH:mm')}"></span>
      </td>
      </tr>
      <tr>
        <th th:text="#{purl_server.info.domain.status}"></th>
        <td th:text="${domain.status}"></td>
      </tr>
    </table>
  </div>

  <div th:fragment="infoPurlTable (purl)">
    <table class="table table-sm" aria-label="PURL information">
      <colgroup>
        <col style="width: 12em" />
      </colgroup>
      <tr>
        <th class="h5" th:text="#{purl_server.info.purl.path}"></th>
        <td><span class="h5" th:text="${purl.path}"></span></td>
      </tr>
      <tr id="accordionDomain">
        <th class="h5" th:text="#{purl_server.info.purl.domain}"></th>
        <td class="pr-0"><span class="h5" th:text="${purl.domain.path}"></span> 
          <a class="btn btn-sm btn-outline-secondary px-1 py-0 ml-3" data-toggle="collapse" data-target="#collapseDomain"
             th:title="#{purl_server.info.more}" aria-expanded="true" aria-controlls="collapseDomain">▼</a>
          <div id="collapseDomain" class="collapse" data-parent="#accordionDomain">
            <div th:replace="~{fragments/info :: infoDomainTable (${purl.domain})}"></div>
          </div></td>
      </tr>
      <tr>
        <th th:text="#{purl_server.info.purl.type}"></th>
        <td th:text="${purl.type}"></td>
      </tr>
      <tr>
        <th th:text="#{purl_server.info.purl.target}"></th>
        <td><span th:text="${purl.target}"></span><span class="font-italic" th:if="${purl_target_suffix}"
          th:text="${purl_target_suffix}"></span></td>
      </tr>
      <tr>
        <th th:text="#{purl_server.info.common.created}"></th>
        <td>
          <label th:text="#{purl_server.info.common.at}"></label>
          <span th:text="${#temporals.format(purl.created, 'yyyy-MM-dd HH:mm')}"></span>
          <label class="ml-3" th:text="#{purl_server.info.common.by}"></label>
          <span th:text="${purl_created_by}"></span>
        </td>
      </tr>
      <tr>
        <th th:text="#{purl_server.info.common.modified}"></th>
        <td>
          <label th:text="#{purl_server.info.common.at}"></label>
          <span th:text="${#temporals.format(purl.lastmodified, 'yyyy-MM-dd HH:mm')}"></span>
          <label class="ml-3" th:text="#{purl_server.info.common.by}"></label>
          <span th:text="${purl_lastmodified_by}"></span>
        </td>
      </tr>
      <tr>
        <th th:text="#{purl_server.info.purl.status}"></th>
        <td th:text="${purl.status}"></td>
      </tr>
      <tr id="accordionPurlHistory" th:if="${purl.purlHistory.size > 1}">
        <th th:text="#{purl_server.info.purl.purlhistory}"></th>
        <td class="pr-0"><span th:text="${purl.purlHistory.size-1}"></span> <span
          th:text="#{purl_server.info.purl.purlhistory.entry}"></span> <a
          class="btn btn-sm btn-outline-secondary px-1 py-0 ml-3" data-toggle="collapse"
          data-target="#collapsePurlHistory" aria-expanded="true" aria-controlls="collapsePurlHistory">▼</a>
          <div id="collapsePurlHistory" class="collapse" data-parent="#accordionPurlHistory">
            <table class="table table-sm mb-0" aria-label="PURL history information" th:each="entry, iterStat : ${purl.purlHistory}">
              <colgroup>
                <col style="width: 3em" />
              </colgroup>
              <tr th:if="${!iterStat.first}">
                <th th:classappend="${iterStat.index == 1} ? 'border-top-0'">
                  <div class="font-weight-bold pt-1" th:text="${iterStat.index}"></div>
                </th>
                <td class="pr-0" th:classappend="${iterStat.index == 1} ? 'border-top-0'">
                  <table class="table table-sm mb-0" aria-label="PURL history entry information">
                    <colgroup>
                      <col style="width: 9em" />
                    </colgroup>
                    <tr>
                      <th class="border-top-0" th:text="#{purl_server.info.purl.purlhistory.status}"></th>
                      <td class="border-top-0" th:text="${entry.status}"></td>
                    </tr>
                    <tr>
                      <th th:text="#{purl_server.info.purl.purlhistory.type}"></th>
                      <td th:text="${entry.type}"></td>
                    </tr>
                    <tr>
                      <th th:text="#{purl_server.info.purl.purlhistory.target}"></th>
                      <td th:text="${entry.target}"></td>
                    </tr>
                    <tr>
                      <th th:text="#{purl_server.info.common.modified}"></th>
                      <td>
                        <label th:text="#{purl_server.info.common.at}"></label>
                        <span th:text="${#temporals.format(entry.lastmodified, 'yyyy-MM-dd HH:mm')}"></span>
                        <label class="ml-3" th:text="#{purl_server.info.common.by}"></label>
                        <span th:text="${entry.user}"></span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div></td>
      </tr>
    </table>
  </div>
</body>
</html>