<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{purl_server.title}">Purls: Purl Management</title>
<meta th:replace="fragments/page :: html_header" />
</head>
<body>
  <div class="container">
    <div th:replace="fragments/page :: title"></div>
    <div th:replace="fragments/page :: navigation"></div>
    <div class="card border">
      <div class="card-body">
        <h3 class="card-title" th:text="#{purl_server.domain.modify.title}">Modify a domain</h3>
        <div class="row">
          <div class="col">
            <div class="alert alert-danger" role="alert" th:if="${errors}" th:each="error : ${errors}">
              <span th:text="${error}"></span>
            </div>
            <div th:if="${submitted}" class="alert alert-success" th:text="#{purl_server.domain.modify.modified}">
              Domain modified!</div>
            <form th:action="@{/admin/manager/domain/modify}" method="post" th:object="${domain}">
              <div th:replace="fragments/forms :: domainForm"></div>
            </form>
          </div>
          <div class="col">
            <div class="border p-3 overflow-auto position-absolute" style="top: 0; left: 0; bottom: 0; right: 0;">
              <span th:text="#{purl_server.domain.modify.help}">Help...</span>
            </div>
          </div>
        </div>
        <div class="row mt-3" th:if="${submitted}">
          <div class="col">
            <a class="btn btn-secondary" th:href="@{/admin/manager/domain/modify?id=__${domain.id}__}"
              th:text="#{purl_server.domain.goto.modify}">modify</a>
            <a class="btn btn-secondary" th:href="@{/admin/manager/domain/create}"
              th:text="#{purl_server.domain.goto.create}">Create a new domain</a>
            <a class="btn btn-secondary" th:href="@{/admin/manager/domain/search}"
              th:text="#{purl_server.domain.goto.search}">Search for a domain</a>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="fragments/page :: footer"></div>
  </div>
  <script th:replace="fragments/page :: html_footer"></script>
</body>
</html>