<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{purl_server.title}">Purls: Purl Management</title>
<meta th:replace="fragments/page :: html_header" />
</head>
<body>
  <div class="container">
    <div th:replace="fragments/page :: title"></div>
    <div th:replace="fragments/page :: navigation"></div>
    <div class="card border">
      <div class="card-body ">
        <h3 class="card-title" th:text="#{purl_server.domain.delete.title}">Delete a domain</h3>
        <div class="row">
          <div class="col">
            <div class="alert alert-danger" role="alert" th:if="${errors}" th:each="error : ${errors}">
              <span th:text="${error}"></span>
            </div>
            <div th:if="${deleted}">
              <span class="text-success" th:text="#{purl_server.domain.delete.deleted}">Domain deleted!</span>
            </div>
            <form th:action="@{/admin/manager/domain/delete}" method="post" th:object="${domain}">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" th:text="#{purl_server.domain.delete.path}">Path</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" th:field="*{path}" readonly="readonly" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 offset-sm-4">
                  <button type="submit" class="btn btn-danger" th:text="#{purl_server.domain.delete.delete}">delete</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col" style="min-height: 50vh;">
            <div class="border p-3 overflow-auto position-absolute" style="top: 0; left:0; bottom: 0; right: 0;">
              <span th:text="#{purl_server.domain.delete.help}">Help...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:replace="fragments/page :: html_footer"></script>
</body>
</html>