<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{purl_server.title}">Purls: Purl Management</title>
  <meta th:replace="fragments/page :: html_header" />
</head>
<body>
  <div class="container">
    <div th:replace="fragments/page :: head"></div>
    <div th:replace="fragments/page :: navigation"></div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title" th:text="#{purl_server.domain.create.title}">Create a new domain</h3>
        <div class="alert alert-danger" role="alert" th:if="${errors}" th:each="error : ${errors}">
          <span th:text="${error}"></span>
        </div>
        <form th:action="@{/admin/manager/domain/create}" method="post" th:object="${domain}">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" th:text="#{purl_server.domain.create.path}">Path</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" th:field="*{path}" th:readonly="${#lists.isEmpty(errors) AND created == true}" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" th:text="#{purl_server.domain.create.name}">Name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" th:field="*{name}" th:readonly="${#lists.isEmpty(errors) AND created == true}" />
            </div>
          </div>
          <div class="row">
            <label class="col-sm-1 offset-sm-4 col-form-label" th:text="#{purl_server.domain.create.create}">Create</label>
            <label class="col-sm-1 col-form-label" th:text="#{purl_server.domain.create.modify}">Modify</label>
          </div>
          <div th:each="i : ${#numbers.sequence(0, __*{#lists.size(domainUserList)}__)}">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" th:text="#{purl_server.domain.create.user} + ' ' + ${i+1}"></label>
              <div class="col-sm-2">
                <select class="form-control" th:field="*{domainUserList[__${i}__].user.login}"
                        th:readonly="${#lists.isEmpty(errors) AND created == true}">
                  <option value=""></option>
                  <option th:each="user : ${usersLogin}" th:text="${user.fullname}" th:value="${user.login}"></option>
                </select>
              </div>
              <div class="col-sm-1">
                <input type="checkbox" class="form-control float-left w-25" th:field="*{domainUserList[__${i}__].canCreate}"
                       th:readonly="${#lists.isEmpty(errors) AND created == true}" />
              </div>
              <div class="col-sm-1">
                <input type="checkbox" class="form-control float-left w-25" th:field="*{domainUserList[__${i}__].canModify}"
                       th:readonly="${#lists.isEmpty(errors) AND created == true}" />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <button type="submit" name="addUser" class="btn btn-secondary" th:text="#{purl_server.domain.create.button.add_user}">Add User</button>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" th:text="#{purl_server.domain.create.comment}">Comment</label>
            <div class="col-sm-4">
              <textarea class="form-control" th:field="*{comment}" th:readonly="${#lists.isEmpty(errors) AND created == true}"></textarea>
            </div>
          </div>
          <div class="form-group row" th:unless="${created}">
            <div class="col-sm-3 offset-sm-2">
              <button type="submit" name="submit" class="btn btn-primary" th:text="#{purl_server.domain.create.submit}">Submit</button>
            </div>
          </div>
        </form>
        <div th:if="${created}">
          <span class="text-success" th:text="#{purl_server.domain.create.created}">Domain created!</span>
        </div>
      </div>
    </div>
  </div>
  <script th:replace="fragments/page :: html_footer"></script>
</body>
</html>