<!DOCTYPE html>
<html lang="de" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home: Purl Verwaltung</title>
<meta th:replace="fragments/page :: html_header" />
</head>
<body>
  <div class="container">
    <div th:replace="fragments/page :: title"></div>
    <div th:replace="fragments/page :: navigation"></div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Help</h3>
        To be written ...
      </div>
    </div>
    <div th:replace="fragments/page :: footer"></div>
  </div>
  <script th:replace="fragments/page :: html_footer"></script>
</body>
</html>