<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{purl_server.title}">Purls: Purl Manager</title>
  <meta th:replace="fragments/page :: html_header" />
</head>
<body>
  <div class="container">
    <div th:replace="fragments/page :: title"></div>
    <div th:replace="fragments/page :: navigation"></div>
    <div class="card border">
      <div class="card-body">
        <h3 class="card-title">Search for a PURL</h3>
        <div class="row">
          <div class="col">
            <form th:action="@{/admin/manager/purl/search}" method="post">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Path</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" th:value="${path}" name="path" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Target URL</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" th:value="${targetURL}" name="targetURL" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tombstoned PURLs</label>
                <div class="col-sm-2">
                  <input type="checkbox" class="form-control float-left w-25" th:checked="${tombstoned}" name="tombstoned" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-9 offset-sm-3">
                  <button type="submit" class="btn btn-primary">Search</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col">
            <div class="border p-3 overflow-auto position-absolute" style="top: 0; left:0; bottom: 0; right: 0;">
              <span th:text="#{purl_server.purl.search.help}">Help...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-striped table-sm mt-3">
          <tr>
            <th th:text="#{purl_server.purl.search.tabel.name}">name</th>
            <th th:text="#{purl_server.purl.search.tabel.type}">type</th>
            <th th:text="#{purl_server.purl.search.tabel.target}">target</th>
            <th th:text="#{purl_server.purl.search.tabel.created}">created</th>
            <th th:text="#{purl_server.purl.search.tabel.lastmodified}">lastmodified</th>
            <th th:text="#{purl_server.purl.search.tabel.status}">status</th>
            <th></th>
            <th></th>
          </tr>
          <tr th:each="purl : ${purls}">
            <td class="text-nowrap" th:text="${purl.path}"></td>
            <td th:text="${purl.type}"></td>
            <td th:text="${purl.target}"></td>
            <td th:text="${purl.created}"></td>
            <td th:text="${purl.lastmodified}"></td>
            <td th:text="${purl.status}"></td>
            <td><a th:href="@{/admin/manager/purl/modify?id=__${purl.id}__}" th:text="#{purl_server.purl.search.table.modify}">modify</a></td>
            <td><a th:href="@{/admin/manager/purl/delete?id=__${purl.id}__}" th:text="#{purl_server.purl.search.table.delete}">delete</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script th:replace="fragments/page :: html_footer"></script>
</body>
</html>