<!DOCTYPE html>
<html lang="de" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{purl_server.title}">Purls: Purl Manager</title>
<meta th:replace="~{fragments/page :: html_header}" />
<script type="text/javascript" th:src="@{/static/login/sha1.js}"></script>
</head>
<body>
  <div class="container">
    <div th:replace="~{fragments/page :: title}"></div>
    <div th:replace="~{fragments/page :: navigation}"></div>
    <div class="card border">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="card-title" th:text="#{purl_server.user.modify.title}">Modify a user</h3>
            <div th:replace="~{fragments/page :: errorView (${error})}"></div>
            <div th:if="${submitted}" class="alert alert-success" th:text="#{purl_server.user.modify.modified}">
              User modified!</div>
            <form th:action="@{/admin/manager/user/modify}" method="post" th:object="${user}" th:if="${user}">
              <div th:replace="~{fragments/forms :: userForm}"></div>
            </form>
          </div>
        </div>
        <div th:insert="~{fragments/forms :: help (#{purl_server.user.modify.help})}" class="row mt-3"></div>
        <div class="row mt-3" th:if="${submitted}">
          <div class="col">
            <a class="btn btn-secondary" th:href="@{/admin/manager/user/modify?id=__${user.id}__}"
              th:text="#{purl_server.user.goto.modify}">modify</a>
            <a class="btn btn-secondary" th:href="@{/admin/manager/user/create}"
              th:text="#{purl_server.user.goto.create}">Register a new user</a>
            <a class="btn btn-secondary" th:href="@{/admin/manager/user/search}"
              th:text="#{purl_server.user.goto.search}">Search for a user</a>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="~{fragments/page :: footer}"></div>
  </div>
  <script th:replace="~{fragments/page :: html_footer}"></script>
</body>
</html>
