<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{purl_server.title}">Purls: Purl Manager</title>
  <meta th:replace="fragments/page :: html_header" />
  <script type="text/javascript" th:src="@{/admin/login/sha1.js}"></script>
</head>
<body>
  <div class="container">
    <div th:replace="fragments/page :: title"></div>
    <div th:replace="fragments/page :: navigation"></div>
    <div class="card border">
      <div class="card-body">
        <h3 class="card-title" th:text="#{purl_server.user.create.title}">Register a new user</h3>
        <div class="row">
          <div class="col">
            <div class="alert alert-danger" role="alert" th:if="${errors}" th:each="error : ${errors}">
              <span th:text="${error}"></span>
            </div>
            <div th:if="${created}">
              <span class="text-success" th:text="#{purl_server.user.create.created}">User registered!</span>
            </div>
            <div id="errorPassword" class="alert alert-danger d-none">
              <span th:text="#{purl_server.user.create.error_password}">Password and Re-Password are not the same!</span>
            </div>
            <form th:action="@{/admin/manager/user/create}" method="post" th:object="${user}">
            <input type="hidden" id="password_sha" th:field="*{passwordSHA}" />
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" th:text="#{purl_server.user.create.admin}">Admin</label>
                <div class="col-sm-2">
                  <input type="checkbox" class="form-control float-left w-25" th:field="*{admin}"
                        th:readonly="${#lists.isEmpty(errors) AND created == true}" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" th:text="#{purl_server.user.create.fullname}">Full name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" th:field="*{fullname}" th:readonly="${#lists.isEmpty(errors) AND created == true}" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" th:text="#{purl_server.user.create.affiliation}">Affiliation</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" th:field="*{affiliation}" th:readonly="${#lists.isEmpty(errors) AND created == true}" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" th:text="#{purl_server.user.create.email}">E-Mail address</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" th:field="*{email}" th:readonly="${#lists.isEmpty(errors) AND created == true}" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" th:text="#{purl_server.user.create.login}">Login</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" th:field="*{login}" th:readonly="${#lists.isEmpty(errors) AND created == true}" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" th:text="#{purl_server.user.create.password}">Password</label>
                <div class="col-sm-8">
                  <input type="password" id="password" class="form-control" th:readonly="${#lists.isEmpty(errors) AND created == true}" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" th:text="#{purl_server.user.create.repassword}">Re-enter password</label>
                <div class="col-sm-8">
                  <input type="password" id="repassword" class="form-control" th:readonly="${#lists.isEmpty(errors) AND created == true}" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" th:text="#{purl_server.user.create.comment}">Comment</label>
                <div class="col-sm-8">
                  <textarea class="form-control" th:field="*{comment}" th:readonly="${#lists.isEmpty(errors) AND created == true}"></textarea>
                </div>
              </div>
              <div class="form-group row" th:unless="${created}">
                <div class="col-sm-6 offset-sm-4">
                  <button type="submit" class="btn btn-primary" onclick="return encryptPassword();" th:text="#{purl_server.user.create.submit}">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col">
            <div class="border p-3 overflow-auto position-absolute" style="top: 0; left:0; bottom: 0; right: 0;">
              <span th:text="#{purl_server.user.create.help}">Help...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function encryptPassword() {
      var password =  $("#password").val();
      var repassword = $("#repassword").val();
      if(password.localeCompare(repassword) == 0) {
        $("#errorPassword").addClass("d-none");
    	var shaObj = new jsSHA("SHA-1", "TEXT");
        shaObj.update(document.getElementById("password").value);
        var hash = shaObj.getHash("HEX");
        document.getElementById("password_sha").value = hash;
        return true;
      } else {
        $("#errorPassword").removeClass("d-none");
        return false;
      }
    }
  </script>
  <script th:replace="fragments/page :: html_footer"></script>
</body>
</html>