<!DOCTYPE html>
<html lang="de" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{purl_server.password.title}"></title>
<meta th:replace="fragments/page :: html_header" />
<script type="text/javascript" th:src="@{/static/login/sha1.js}"></script>
</head>
<body>
  <div class="container">
    <div th:replace="fragments/page :: title"></div>
    <div class="card">
      <div class="card-body">
        <h2 th:text="#{purl_server.password.heading}">Anmeldung</h2>
        <div class="alert alert-danger" th:if="${!#strings.isEmpty(errorMessage)}" th:text="${errorMessage}"></div>
        <form th:action="@{/admin/login/password}" method="post">
          <input type="hidden" name="password_reset_token" th:value="${param.token}" />
          <input id="password_sha1" type="hidden" name="password_sha1" />
          <div class="row mt-3">
            <div class="col-4 offset-4">
              <div class="form-group">
                <input class="form-control" type="text" name="login" readonly="readonly"
                  th:value="${param.login}" />
              </div>
              <div class="form-group">
                <input id="password" class="form-control" type="password"
                  th:placeholder="#{purl_server.password.placeholder.password}" />
              </div>
              <div class="form-group">
                <input id="password_wdhl" class="form-control" type="password"
                  th:placeholder="#{purl_server.password.placeholder.password_repeat}" />
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit" name="do_set_password" value="x"
                  onclick="return encryptPassword();" th:text="#{purl_server.password.button.password_save}">Passwort
                  speichern</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div th:replace="fragments/page :: footer"></div>
  </div>
  <script th:replace="fragments/page :: html_footer"></script>
  <script type="text/javascript" th:inline="javascript">
    function encryptPassword() {
      try {
        if (document.getElementById("password").value == document.getElementById("password_wdhl").value) {
          var shaObj = new jsSHA("SHA-1", "TEXT");
          shaObj.update(document.getElementById("password").value);
          var hash = shaObj.getHash("HEX");
          document.getElementById("password_sha1").value = hash;
          return true;
        } else {
          const msg = /*[[#{purl_server.error.password.passwords_different}]]*/;
          alert(msg);
        }
      } catch (err) {

      }
      return false;
    }
  </script>
</body>
</html>