<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="#{purl_server.login.title}"></title>
<meta th:replace="fragments/page :: html_header" />
<script type="text/javascript" th:src="@{/static/login/sha1.js}"></script>
</head>
<body>
  <div class="container">
    <div th:replace="fragments/page :: title"></div>
    <div class="card">
      <div class="card-body">
        <h2 th:text="#{purl_server.password.request.title}">Anfordern</h2>
        <div class="alert alert-danger" th:if="${!#strings.isEmpty(errorMessage)}" th:utext="${errorMessage}"></div>
        <form th:action="@{/admin/login/password}" method="post">
          <input id="password_sha1" type="hidden" name="password_sha1" />
          <div class="row mt-3">
            <div class="col-6 offset-3">
              <div class="alert alert-info" role="alert" th:text="#{purl_server.password.request.info}"></div>
              <div class="form-group">
                <input class="form-control" type="text" name="login"
                  th:placeholder="#{purl_server.login.placeholder.user}" />
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit" name="do_password_reset" value="x"
                  th:text="#{purl_server.password.request.button.request}">Anfordern</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div th:replace="fragments/page :: footer"></div>
  </div>
  <div th:replace="fragments/page :: html_footer"></div>
  <script type="text/javascript">
			function encryptPassword() {
				var shaObj = new jsSHA("SHA-1", "TEXT");
				shaObj.update(document.getElementById("password").value);
				var hash = shaObj.getHash("HEX");
				document.getElementById("password_sha1").value = hash;
				return true;
			}

			$(document).ready(
					function() {
						$("#locales").change(
								function() {
									var selectedOption = $('#locales').val();
									if (selectedOption != '') {
										window.location.replace(window.location
												+ '?lang=' + selectedOption);
									}
								});
					});
		</script>
</body>
</html>